In [2]:
import pandas as pd

In [3]:
fc = "C:/Users/gust7439/Desktop/hidrologia.gdb/hidrografia"
fields = arcpy.ListFields("C:/Users/gust7439/Desktop/hidrologia.gdb/hidrografia")

In [4]:
fields_name = []
for field in fields:
    fields_name += [field.name]

In [5]:
print(fields_name)

['OBJECTID', 'Shape', 'globalid', 'created_user', 'created_date', 'last_edited_user', 'last_edited_date', 'Enabled', 'FLOWDIRECTION', 'Shape_Length']

In [6]:
fields_len = len(fields_name)
fields_len

10

In [7]:
df1 = pd.DataFrame()
for field in fields:
    df1.insert (0, field.name, 0, allow_duplicates = False)
df1 = df1.loc[:,::-1]

In [8]:
df1.head()

Empty DataFrame
Columns: [OBJECTID, Shape, globalid, created_user, created_date, last_edited_user, last_edited_date, Enabled, FLOWDIRECTION, Shape_Length]
Index: []

In [9]:
cont = 1
i = 0
for fields in fields_name:
    content = [row[0] for row in arcpy.da.SearchCursor(fc, fields_name[i])]
    df1[fields_name[i]] = content
    i += 1
    if i == fields_len:
        break

In [10]:
df1.head()

   OBJECTID  ... Shape_Length
0         1  ...     0.289006
1         2  ...     0.502709
2         3  ...     0.625029
3         4  ...     0.840681
4         5  ...     0.086305

[5 rows x 10 columns]

In [12]:
df1.to_csv('out.csv', index=False)